<!-- app/views/users/user_show.html.erb -->
<h1>User 情報</h1>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'main', root_path %>
<%= link_to 'ログアウト', logout_path, method: :delete %>
