<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %><br>

<%= link_to '会員登録', signup_path %><br><br>

<%= link_to 'ユーザList', users_path %><br><br>

<%= link_to 'Login', login_path %>
